<?xml version="1.0"?>
<robot name="turtlebot"
       xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:include filename="$(find gki_turtlebot_description)/robots/gki_turtlebot.urdf.xacro" />
	<xacro:include filename="$(find gki_sensors_description)/urdf/sick_rfu620.urdf.xacro" />

	<xacro:property name="robot_name" value="caeruleus" />
	<gki_turtlebot robot_name="caeruleus"/>
	<front_sensor_mount parent="plate_bottom_link"/>
	<xacro:sick_rfu620 name="rfid_sensor" parent="base_link" ros_topic="rfid_tag">
		<origin xyz="0.225 0.0 0.075" rpy="1.5708 0 1.5708"/>
	</xacro:sick_rfu620>
</robot>
