<?xml version="1.0"?>
<robot name="turtlebot"
       xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:include filename="$(find gki_turtlebot_description)/urdf/turtlebot_library.urdf.xacro" />
	<xacro:include filename="$(find gki_sensors_description)/urdf/hokuyo_urg.urdf.xacro" />

	<xacro:macro name="gki_turtlebot" params="robot_name">
		<kobuki/>
		<bottom_laptop_plate parent="base_link" robot_name="${robot_name}"/>
		<middle_plate parent="base_link" robot_name="${robot_name}"/>
		<sensor_kinect  parent="base_link"/>
		<xacro:hokuyo_urg name="base_laser" parent="base_link" ros_topic="base_scan" update_rate="10" ray_count="667" min_angle="120" max_angle="-120">
			<origin xyz="-0.055 0.0 0.195" rpy="0 0 0"/>
		</xacro:hokuyo_urg>
	</xacro:macro>

</robot>
